#!/usr/bin/make -f

VENDOR ?= 1
CLEAN ?= 1
DESTDIR = debian/tmp

%:
	dh $@

override_dh_auto_clean:
	if test "${CLEAN}" = "1"; then \
		cargo clean; \
	fi

override_dh_auto_build:
	just rootdir=$(DESTDIR) build-release

override_dh_auto_install:
	just rootdir=$(DESTDIR) install
